Scenario: Run payroll for a salaried employee
	Given a bi-weekly pay period
	And a salaried employee whose salary is 60000
	And the employee has worked 85 hours in the pay period
	When I run payroll
	Then the employee should be paid salary / 2080 * 80
	
Scenario: Run payroll for an hourly employee
	Given a bi-weekly pay period
	And an hourly employee whose hourly rate is $75 per hour
	And the employee has worked 85 hours in the pay period
	When I run payroll
	Then the employee should be paid the hourly rate for 80 hours and hourly rate * 1.5 for 5 hours